

:root {
  --blue:  #06afe8;
  --yellow:  #FCCF00;
  --dark-blue:  #2468B1;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-size: cover;
  background:  var(--blue);
  font-weight: 400;
  font-size: 24px;
  color:  var(--dark-blue);
}



h2 {
  text-transform: capitalize;
}

.pokemon-list {
  list-style-type: none;
  text-align: center;
  list-style: none;
  display: grid;
  padding: 0;
}

.pokemon-logo {
  justify-content: center;
  align-items: center;
  display: flex;  
}

.pokemon-logo img {
  margin: 40px auto;
  margin-top: 125px;
  max-height: 350px;
  max-width: 300px;
}

.navbar {
  background-color:  var(--blue);
  border-bottom: .1px solid #000;
}

.navbar img {
  max-height: 60px;
}

#search-pokemon {
  background-color:  var(--yellow);
  color:  var(--blue);
}

.modal-content {
  background:  var(--yellow);
}

.modal-body {
  background:  var(--yellow);
  text-align: center;
  border-bottom: none;
  border-top: none;
}

.pokemon-list-btn {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition: all 0.5s ease 0s;
  text-transform: capitalize;
  background:  var(--yellow);
  color:  var(--dark-blue);
  margin: 2px 20% 2px 20%;
  border-radius: 7px;
  padding: 10px 18px;
  text-align: center;
  font-size: 25px;
  width: 60%;
}

.pokemon-list-btn:focus,
.pokemon-list-btn:active {
  color: gray;
}

.pokemon-list-btn:hover {
  transition: all 0.5s ease 0s;
  border-color:  var(--blue);
  cursor: pointer;
  opacity: 0.9;
}

.pokemon-list-btn:after {
  background-color:  var(--yellow);
  opacity: 0.5;
}

.modal-title {
  font-size: 34px;
}

.pokemon-height,
.pokemon-weight,
.pokemon-type {
  font-size: 22px;
  text-align: left;
}

.pokemon-img {
  height: 170px;
  margin: -35px;
}

@media all and (max-width: 555px) {
  .pokemon-logo img {
    margin-top: 200px;
  }
}